html, body, #root {
    height: 100%;
    min-height: 100%;
    background-color: #DED8CD;
}

.background {
    background-color: #DED8CD;
    width: 100%;
    height: max-content;
    min-height: max-content;
    text-align: center;
}

.divider-padding {
    margin-top: 0px;
    margin-bottom: 10px;
}

.paler-oak {
    background-color: #ded8cdaf;
}

.unisexCheckbox {
    padding: 10px;
}

.labelSpaced {
    display: inline;
}

.input-field-content {
    display: inline-block;
    width: 300px;
    position: relative;
}

.chakra-checkbox__control {
    background: white;
}


#palette {
    align-content: baseline;
    /* https://coolors.co/333333-666a86-ded8cd-ff7f11-ff1b1c */
}